<div class="container">
  <h1><%= @event.title %></h1>
  <p><strong>Description:</strong> <%= @event.description %></p>
  <p><strong>Date:</strong> <%= @event.start_date.strftime("%d/%m/%Y à %H:%M") %></p>
  <p><strong>Durée:</strong> <%= @event.duration %> heures</p>
  <p><strong>Prix:</strong> <%= number_to_currency(@event.price) %></p>

  <% if user_signed_in? && current_user == @event.user %>
    <%= link_to 'Supprimer', event_path(@event), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cet événement ?' }, class: 'btn btn-danger' %>
  <% end %>

  <% if user_signed_in? %>
    <% unless current_user.registered_for?(@event) %>
    <%= link_to 'Participer', participate_event_path(event_id: event.id), method: :post, class: 'btn btn-primary' %>

    <% end %>
    <%= @event.registrations_count %>
  <% end %>
</div>
