<div class="container mt-5">
  <header class="text-center mb-4">
    <h1>Bienvenue sur EventLite</h1>
    <p>Trouvez et participez à des événements dans votre ville!</p>
    <nav class="nav justify-content-center">
      <%= link_to 'Accueil', root_path, class: 'nav-link' %>
      <%= link_to 'Créer un événement', new_event_path, class: 'nav-link' %>
      <% if user_signed_in? %>
        <%= link_to 'Mon Profil', user_path(current_user), class: 'nav-link' %>
        <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      <% else %>
        <%= link_to 'S\'inscrire', new_user_registration_path, class: 'nav-link' %>
        <%= link_to 'Se connecter', new_user_session_path, class: 'nav-link' %>
      <% end %>
    </nav>
  </header>

  <main>
    <h2 class="mb-3">Événements à venir</h2>
    <div class="row">
      <% if @events.present? %>
        <% @events.each do |event| %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5>
                <p class="card-text"><%= event.description %></p>
                <p class="card-text">Date: <%= event.start_date.strftime("%d/%m/%Y à %H:%M") %></p>
                <p class="card-text">Durée: <%= event.duration %> heures</p>
                <p class="card-text">Prix: <%= number_to_currency(event.price) %></p>
                <%= link_to 'Participer', participate_event_path(event), method: :post, class: 'btn btn-primary' %>
                </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Aucun événement à venir pour le moment.</p>
      <% end %>
    </div>
  </main>
</div>
