<%= render 'layouts/navbar' %>
<h2>Connexion au site</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  <%= f.password_field :password, autocomplete: "current-password", placeholder: "Mot de passe" %>
  <%= f.submit "Se connecter" %>
<% end %>
<%= render 'devise/shared/links' %>
